0. fejezet
bevezetés, egyre specifikusabb az én játékom felé hogy pont ezt választottam
1. fejezet elméleti háttér
módszertan
MINDENT IDE AMIT FELHASZNÁLTUNK
perlin, marching cubes, unity, milyen játékok, voxel technológiák
max 1/3 a dolgozatnak
2. felyezet követelmények specifikálás, ide nem megy a marching cubes hanem tervezés, abstrakt -> specifikus
ki kell választani egy módszertant, UML, adatbázisterv ha lenne,  
módosítás az algoritmuson, 
3. implementálás
én írtam én módosítottam, megjelölni a forrást és hogy mit módosítottam rajta
kiemelni fontosabb metódusokat, függvényeket
az a nagy kód az mehet bele
4. tervezés
random test, határérték analízis
mit mikor miért hogyan tesztelünk
véleménykutatás
ezzel a paraméterrel 10 et - összehasonlítás - jobb,rosszabb - paraméterek milyenek
algoritmus futási idő, memória, vertex szám
5. konklúzió
fél oldal kb

irodalomjegyzék mellékletek




saját és átvett kód jelölése



http://journals.ieeeauthorcenter.ieee.org/wp-content/uploads/sites/7/IEEE_Reference_Guide.pdf